<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %}</title>

    {#<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('dashboard') }}">AdsItUp</a>
            </div>

            {# Collect the nav links, forms, and other content for toggling #}
            <div class="collapse navbar-collapse" id="admin-navbar-collapse-1">
                {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active', 'template': '::knp_menu_extend.html.twig'}) }}

                {{ knp_menu_render('AppBundle:Builder:userMenu', {'currentClass': 'active', 'template': '::knp_menu_extend.html.twig'}) }}
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        {#{% if app.session.flashbag.has('alert') %}
            {% for flashMessage in app.session.flashbag.get('alert') %}
                <div class="alert alert-info">{{ flashMessage }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
            {{renderBreadCrumbs()}}
        </div>#}

        {% block content %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
</body>
</html>
