{% extends '::layout.html.twig' %}

{% block content %}
    <div class="row">
        <h4>Direct Link</h4>
    </div>
    <div class="row">
        <div class="well well-sm">{{ offer.destination }}</div>
    </div>

    <div class="row">
        <h4>Banners</h4>
    </div>


        {% for banner in offer.offerBanners %}
            <div class="row">
                <h5>{{ banner.width }}x{{ banner.height }}</h5>
                <img src="{{ app.request.getSchemeAndHttpHost() }}/upload/brand/{{ banner.brand.id }}/offer/{{ banner.offer.id }}/{{ banner.file }}" />
                <div class="well well-sm">{{ offer.destination }}</div>
            </div>
        {% endfor %}


    {% if is_granted('ROLE_BRAND') %}
        <div class="row">
            <div id="alert_placeholder"></div>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {#{{ form_errors(form) }}#}

            {{ form_widget(form, {'form_type': 'horizontal'}) }}

            {{ form_rest(form) }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Upload" />
            </div>

            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}