{% extends "layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th>#</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Category'|trans }}</th>
                    <th>{{ 'Description'|trans }}</th>
                    {% if is_granted('ROLE_BRAND') %}
                        <th>{{ 'Active'|trans }}</th>
                    {% endif %}
                    <th>{{ 'Thumbnail'|trans }}</th>
                </tr>

                {% for category in categories %}
                    {% if offers[category.id] is defined %}
                        {% for offer in offers[category.id] %}
                            {% if offer.is_active == 1 and is_granted('ROLE_BRAND') %}
                                <tr>
                                    <td>{{ offer.id }}</td>
                                    <td>{{ offer.name }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ offer.description }}</td>
                                    {% if is_granted('ROLE_BRAND') %}
                                        <th>{% if offer.is_active == 1 %}{{ 'Yes'|trans }}{%  else %}{{ 'No'|trans }}{% endif %}</th>
                                    {% endif %}
                                    <td><img src="http://placehold.it/350x150" alt="Offer" class="img-thumbnail"></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

            </table>
        </div>
    </div>

{% endblock %}
